<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	
	<!-- 配置数据源 -->
	<!-- 配置初始化大小、最小、最大 -->
	<!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
	<!-- 配置监控统计拦截的filters，去掉后监控界面sql无法统计 -->      
	<!--  外网 -->
	  
	 <bean id="dataSource"
		class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		
		<property name="url" value="jdbc:mysql://192.168.8.212:3306/sbm2?useSSL=false" />
		<property name="username" value="admin" />
		<property name="password" value="123456" />
		  
   	 	<property name="initialSize" value="1" />  
    	<property name="minIdle" value="1" />   
    	<property name="maxActive" value="30" />  
    	
    	<property name="poolPreparedStatements" value="true" />  
    	<property name="maxPoolPreparedStatementPerConnectionSize" value="20" />  
     		
    	<property name="filters" value="stat" />   
	</bean>
	
	<!--
		2. mybatis的SqlSession的工厂: SqlSessionFactoryBean dataSource:引用数据源
		MyBatis定义数据源,同意加载配置
	-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:config/mybatis-config.xml" /> 
	</bean>
	
	<!--
		3. mybatis自动扫描加载Sql映射文件/接口 : MapperScannerConfigurer sqlSessionFactory
		basePackage:指定sql映射文件/接口所在的包（自动扫描）
	-->
	<!-- cn.com.start.AppAPI.mapper; -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.com.start.DPF.mapper;											
											cn.com.start.webBack.mapper;
											cn.com.start.AppAPI.mapper">
		</property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
	<!-- <bean id="jsonService" class="cn.com.start.webBack.servcie.JsonService"></bean> --> 
	
	<!-- 4.开启事务注解驱动 -->
	<tx:annotation-driven />
	<!-- (事务管理)transaction manager-->
	
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- 5 spring扫描注解 -->  		
	  
	<context:component-scan base-package="cn.com.start.AppAPI" />
	<context:component-scan base-package="cn.com.start.DPF" />
	<context:component-scan base-package="cn.com.start.webBack" />
	 <!--  <context:component-scan base-package="cn.com.start.webBack.quarz" /> -->
	
	<bean id ="ServiceUtil" class="cn.com.start.DPF.util.ServiceUtil"></bean>
	
	<!-- 使用ehcache缓存 -->
   
   <!--  <bean id="ehCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:ehcache.xml" />
    </bean>
	 -->
	
	<!-- 支持上传文件 -->  
    <!--  
    <bean id="multipartResolver"  
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >   
        <property name="maxUploadSize" value="104857600"></property>      
        <property name="defaultEncoding" value="utf-8"></property>     
    </bean>
    -->  
	
</beans>
